.nav-link {
  margin: 15px;
}

.line-input {
  display: block;
  margin: 15px;
}

.page-title {
  margin: 15px;
}

.error-summary {
  margin: 15px;
  min-height: 50px;
}
.error-summary span {
  display: block;
}

.error {
  color: red;
}